@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');    
    

   
    /* Background styles */
body {
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#chat-message-container,
#chat-messages{
    display: none;
}



#login-container,

#chat-form,
#username,
#message-input,
.chat-container,
.container,
.modal-content{
    padding: 1.5rem;
    margin: 0 auto;
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(248, 196, 196, 0.281) !important;
    border-radius: 12px;
    border: 1px solid rgba(131, 128, 128, 0.767) !important;
    
}

.navbar{
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(250, 248, 248, 0.281) !important;
    border: 1px solid rgba(252, 251, 251, 0.767) !important;
}

.b-1,
.b-2,
.b-3 {
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(219, 192, 151, 0.596);
    border-radius: 12px;
}

.message-container {
    backdrop-filter: blur(8px) saturate(250%);
    -webkit-backdrop-filter: blur(8px) saturate(250%);
    background-color: rgba(238, 238, 60, 0.281) !important;
    border-radius: 12px;
    border: 1px solid rgba(201, 202, 196, 0.11) !important;
}


.card,
.card-img-top{
    padding: 1.5rem;
    margin: 0 auto;
    backdrop-filter: blur(12px) saturate(250%);
    -webkit-backdrop-filter: blur(8px) saturate(250%)!important;
    background-color: rgba(247, 238, 238, 0.089) !important;
    border-radius: 12px;
    border: 1px solid rgba(248, 247, 247, 0.596) !important;
    
}

.news-item{
    padding: 1.5rem;
    margin: 0 auto;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 5px;
    text-decoration: none;
    color: rgba(241, 240, 245, 0.911);
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    text-align: justify;
    word-wrap: break-word;
    letter-spacing: 1px;
    z-index: 1000;
    text-shadow: 5px 5px 12px rgba(2, 2, 95, 0.911);
    box-shadow: 5px 5px 15px rgba(31, 38, 135, 0.144);
}





#news-card-container    {
    height: fit-content;
}





h5{
    font-size: small!important;
    color: aqua;
}

a{
    text-decoration: none;
    color: rgba(206, 202, 224, 0.911)!important;
    text-shadow: 5px 5px 12px rgba(2, 2, 95, 0.911)!important;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    text-align: justify;
}


















